.viewtrailer{
  min-height: 780px;
  max-width: 100%;
  background-size: auto;
  background-position: center;
  display: flex;
  align-items: flex-end;
}

.boton{
  background-color: black;
  color: azure;
  outline: none;
  border: 1px solid azure;
  padding: 10px 15px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: -95px;
}
.reproductor{
  width: 100%;
  height: 500px;
}
